doctype html
html
    head
        style
            include style.css
    body
        header.header
            h1 This is my pet app header text
        main.main
            block content
        footer.footer
            h3 This is my pet app footer text